@import '../variables.scss';

.AddGame {
    @include page;

    .listItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .knockout {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        .knockoutSelect {
            width: 30%;
        }
        p {
            margin: 0;
        }
    }
}
