$maxWidth: 1000px;

// font
$font: 'worksans', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// media width
$minWidthPhone: 0px;
$maxWidthPhone: 599px;
$minWidthTablet: 600px;
$midWidthTablet: 800px;
$maxWidthTablet: 959px;
$maxWidthDesktop: 1200px;

@mixin page {
    max-width: $maxWidth;
    margin: auto;
    font-family: $font;
    padding: 0 1rem 1rem;
}
